<ion-view view-title="Login" align-title="left">

    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
<br><br><br>

            <form ng-submit="signin(email,password)">
                <div class="list">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email" ng-model="email">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your password" ng-model="password">
                    </label>
                </div>
                <div class="">
                    <button class="button button-block button-balanced" ng-click="signin(email,password)"" type="submit">
                        Login
                    </button>
                </div>

        <div class="padding">
            <button ui-sref="signup" class="button button-full button-assertive ink">Signup</button>
        </div>                </div>    
            </form>
                <h4 style="color:red;" ng-bind="login.error"></h4>
        </div>
        <div class="hero  flat">
            <div class="content">
                <div class="app-icon"></div>
                <h2>Goundamani Version 0.0.1</h2>
            
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>


    </ion-content>
</ion-view>
