        <ion-view view-title="Signup">
    <ion-content >
    <button class="button button-full button-positive">
  Register
</button>
        <div >
            <form ng-submit="vm.signup()">
                <div class="list">
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                                <input id="email" name="email" type="email" placeholder="Your email"
                                       ng-model="vm.email">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        </div>
                    <div class="row">
                        <div class="col">

                            <label class="item item-input">
                                <input id="password" name="password" type="password" placeholder="Your password"
                                       ng-model="vm.password">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <label class="item item-input">
                                <input id="again" name="again" type="password" placeholder="confirm your password"
                                       ng-model="vm.again">
                            </label>
                        </div>
                    </div>
                    <h4 style="color:red;" ng-bind="errorMessage"></h4>

                    <h4 style="color:green;" ng-bind="successlogin"></h4>
                    <h4 style="color:green;" ng-bind="condition"></h4>
                    
                    <div class="">
                        <button class="button button-block button-stable" type="submit">
                            SignUp
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
